body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 5px 0;
    text-align: right;
}

h3{
    margin: 50px;
    color: black;
}

.service {
    flex-direction: row;
}

.img{
    width: 250px;
    height: 150px;
}


.row{
    flex-direction: row;
    margin: 150px;
    justify-content: center;
    border-width: 2px;
}

.about
{
    text-align: center;
    margin-top: 200px;
}

h1{
    text-align: center;
    padding: 5px;
    font-size: 22px;
    justify-content: center;
    color: blue;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: blue;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: 30px;

}

button {
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: brown;
    width: 300px;
    height: 50px;
    border-radius: 30px; 
}


nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin: 0 15px;
    justify-content: center;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


form {
    justify-content: center;
    text-align: center;
}

input {
    width: 300px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    height: 30px;
    border-radius: 20px;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

.text-brut{
    justify-content: center;
    text-align: center;
}

#textincarousel {
    justify-content: center;
    text-transform: uppercase;
}

#textSome {
    margin-top: 1000px ;
    justify-content: center;

}

#about{
    position: relative;
    margin-bottom: 1500px;
}

p{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    
}

ul{
    justify-content: center;
    text-align: center;
}

li{
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}
